body {
   text-align: center;
   background-color: #E0FFFF;
   color: #1D4E7C;
}

#question {
   font-size: 400%;
}

#answer {
   padding: 5px;
   border-radius: 10px;
   z-index:100;
   color: #FFFFFF;
}
